@import "../../assets/styles/variables/colors";

.btn {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: $colorLight;
    background-color: $infoBright;
    padding: 10px 30px;
    border: 2px solid $infoBright;
    box-shadow: $colorDark 0px 0px 0px 0px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 0.5rem;
}

.btn:hover {
    transition: 1000ms;
    background-color: $colorLight;
    color: $infoBright;
    border: solid 2px $infoBright;
}
