@import "../../assets//styles/variables/colors";

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 400;
    width: 400px;

    &.hasType {
        &-danger {
            border: 1px solid $dangerBright;
            background-color: $dangerSubdued;
            display: block;
        }

        &-info {
            border: 1px solid $infoBright;
            background-color: $infoSubdued;
            display: block;
        }
        &-warning {
            border: 1px solid $warningBright;
            background-color: $warningSubdued;
            display: block;
        }

        &-default {
            border: 1px solid $colorDark;
            background-color: $colorGray;
            display: block;
        }
    }
    .button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border: none;
        border-radius: 3px;
        color: $colorDark;
        background-color: $colorLight;
        padding: 0.5rem;
    }
}
